:root {
  --orange: #e76f51;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px */
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  font-family: "Roboto";
}

/* 
-- Reset Style --

*/

a {
  text-decoration: none;
}

/* 
-- Header Class --

*/

/* 
-- App Style --

*/

.header {
  background: linear-gradient(rgba(59, 55, 53, 0.5), rgba(59, 55, 53, 0.5)),
    url("../images/header-bg.jpg");
  background-position: center;
  background-size: cover;
}

.container {
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.app-logo {
  display: block;
  width: 5.5rem;
  height: 5.5rem;
}
.app-logo__img {
  width: 100%;
  height: 100%;
}
.menu {
  display: none;
}
.menu__item {
}
.menu__link {
}
.nav-menu {
  display: none;
}
.mobile-menu {
}
.mobile-menu__item {
}
.mobile-menu__link {
}
.nav-menu__links {
}
.nav-menu__link {
}
.nav-menu__link--border {
}
.header__links {
  display: none;
}
.heaader__link {
}
.heaader__link--border {
}
.nav__btn {
  background-color: #fff;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nav__btn--line {
  display: block;
  width: 3rem;
  height: 0.3rem;
  border-radius: 1rem;
  background-color: var(--orange);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  position: relative;
  transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
}

.nav__btn--line::before,
.nav__btn--line::after {
  content: " ";
  position: absolute;
  width: 3rem;
  height: 0.3rem;
  border-radius: 1rem;
  background-color: var(--orange);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
}

.nav__btn--line::before {
  top: -0.8rem;
}

.nav__btn--line::after {
  top: +0.8rem;
}

.nav__btn--open .nav__btn--line {
  background-color: transparent;
}



.nav__btn--open .nav__btn--line::before {
  transform: translateY(8px) rotate(45deg);
  -webkit-transform: translateY(8px) rotate(45deg);
  -moz-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
}


.nav__btn--open .nav__btn--line::after {
  transform: translateY(-8px) rotate(-45deg);
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -moz-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
}